@charset "UTF-8";

html {
	font-size: 62.5%;
}

@font-face {
	font-family: 'mplus-1c-thin';
	src: url('<?php bloginfo('template_url'); ?>/font/mplus-1c-thin.ttf');
	format('ttf');			
}

@font-face {
	font-family: 'mplus-1c-regular';
	src: url('<?php bloginfo('template_url'); ?>/font/mplus-1c-regular.ttf');
	format('ttf');			
}


@font-face {
	font-family: 'mplus-1c-light';
	src: url('<?php bloginfo('template_url'); ?>/font/mplus-1c-light.ttf');
	format('ttf');			
}

@font-face {
	font-family: 'mplus-1p-light';
	src: url('<?php bloginfo('template_url'); ?>/font/mplus-1p-light.ttf');
	format('ttf');			
}

@font-face {
	font-family: 'mplus-2p-regular';
	src: url('<?php bloginfo('template_url'); ?>/font/mplus-1p-regular.ttf');
	format('ttf');			
}

html,body,p,h1 {
	height: 100%;
	margin: 0;
	font-family: 'Lucida Grande','mplus-1c-thin',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
}

.m-1c-thin {
	font-family: 'mplus-1c-thin' ,sans-serif
}


.m-1c-regular {
	font-family: 'mplus-1c-regular' ,sans-serif
}

.m-1c-light {
	font-family: 'mplus-1c-light' ,sans-serif
}

.m-1c-medium {
	font-family: 'mplus-1c-medium' ,sans-serif
}


.m-1p-light {
	font-family: 'mplus-1p-light' ,sans-serif
}

.m-2p-regular {
	font-family: 'mplus-2p-regular' ,sans-serif
}



#frontBody {
	width: 100%;
	display: block;
	position: relative;
	background: #fafafa;	
}


a {
	text-decoration: none;
	color: #222;
}

.Transion_1.0s {
	-webkit-transition: 1.0s ease;
	-moz-transition: 1.0s ease;
	-o-transition: 1.0s ease;
	transition: 1.0s ease;
}

span {
	font-size: 10px;
	font-size: 1.0rem;
	/*display: none;*/
}

.ClearFix:after{
  	content: "";
  	display: block;
 	clear: both;
 }

 dd,dt {
 	margin: 0;
 	display: inline-block;
 }

 dd {
 	 font-size: 12px;
 	 font-size: 1.2rem;
 }
 dt {
 	font-size: 14px;
 	font-size: 1.4rem;
 }

p {
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'mplus-1c-regular', sans-serif;
	display: inline;
}

.stageBase {
	background-image: url('../images/Common/backgroundAll.png');
	background-position: center center;
  	background-size: cover;
 	position: relative;
}

.fade {
    -webkit-transition: 0.6s ease;
       -moz-transition: 0.6s ease;
         -o-transition: 0.6s ease;
            transition: 0.6s ease;
}

.fade:hover {
    -webkit-transition: 0.6s ease;
       -moz-transition: 0.6s ease;
         -o-transition: 0.6s ease;
            transition: 0.6s ease;
}

.fade-black:hover {
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
	-moz-filter: brightness(0.6);
	-o-filter: brightness(0.6);
	-ms-filter: brightness(0.6);
	/* 暗め */

}
