@charset="UTF-8";


#orderFlow #OF123{
	  height: 25vh;
	  width: 100%;
	  min-width: 800px;
	  background: #fafafa;
	  position: relative;
	  border-top: solid 4px #88BBC0;
	  border-bottom: solid 4px #88BBC0;
}

#orderFlow #OF123 dl {
	height: 84%;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin: 2rem 0.5rem 0.6rem;
	position: relative;
}

#orderFlow #OF123 dt {
	font-size: 16px;
	font-size: 1.6rem;
	display: block;

}

#orderFlow #OF123 img {
	height: 30px;
	height: 3.0rem;

}

#orderFlow #OF2 img:first-child {
	margin-right: 1rem;
}

#orderFlow #OF2 img:last-child {
	margin-left: 1rem;
}

#orderFlow #OF3 img:first-child {
	margin-right: 1.5rem;
}

#orderFlow #OF123 .OF123Column {
	display: block;
	margin: 0 auto;
  	position: absolute;
  	bottom: 1rem;
  	left: 0;
  	right: 0;
}

#orderFlow #OF123 span {
	font-size: 3px;
	display: inline-block;
	margin-top: 3px;
	text-align: left;
}

#orderFlow #OF123 #OF1 dt img {
	height: 12px;
	height: 1.2rem;
	display: inline-block;
}

#orderFlow #OF3-4 {
	position: relative;
	top: 0;
	z-index: 1;
	height: 50vh;
}



#orderFlow #OF4 {
	width: 15vw;
	min-width: 20rem;
	background: #fafafa;
	height: 3rem;
	z-index: 2;
	margin: -33rem auto 3rem;
	border-radius: 0.5rem;
	position: relative;
	border: 0.4rem solid #88BBC0;
}

#orderFlow #OF4 img {
	height: 1.8rem;
	display: inline-block;
	vertical-align: top;

}
#orderFlow #OF4 p {
	display: inline-block;
  	height: 100%;
  	margin-top: 0.4rem;
  
}

#orderFlow #OF5 {
	min-width: 30rem;
	width: 30vw;
	height: 12rem;
	background: #fafafa;
	margin: 0 auto 2rem;
	border-radius: 0.5rem;
	padding: 1rem 0.5rem 0 0.5rem;
	position: relative;
	z-index: 2;
	border: 0.4rem solid #88BBC0;

}

#orderFlow #OF5 #OF5_one {
	display: block;
	height: auto;
}

#orderFlow #OF5 #toBaseMypage {
	background: #88BBC0;
	color: #fff;
	padding: 0.5rem;
	display: block;
	font-size: 1rem;
	width: 12vw;
	  height: 1.7rem;
  line-height: 1.7rem;
	margin: 0.7rem auto;
	vertical-align: top;
}

#orderFlow #OF5 #toBaseMypage .base {
	height: 9px;
}


#orderFlow #OF6 {
	min-width: 30rem;
	width: 30vw;
	height: auto;
	background: #fafafa;
	margin: 0 auto 2rem;
	border-radius: 0.5rem;
	padding: 0.3rem;
	z-index: 2;
	position: relative;
	font-size: 1rem;
	border: 0.4rem solid #88BBC0;
} 

.base {
	height: 1rem;
}

#linkArea {
	width: 40rem;
	margin: 1rem auto;
}

#toBase, #toBasePurchase{
	width:19rem;
	display: inline-block;
}
#toBase a {
	border: solid 0.3rem #668c90;
	height: 2.5rem;
	font-size: 1.2rem;
	min-width: 13rem;
	display: inline-block;
	line-height: 2.5rem;
	padding: 0 0.3rem;
	background: #fafafa;
}

#toBasePurchase a {
	border: solid 0.3rem #668c90;
	height: 2.5rem;
	min-width: 13rem;
	font-size: 1.2rem;
	display: inline-block;
	line-height: 2.5rem;
	padding: 0 0.3rem;
	background: #fafafa;
}


#orderButton {
	display: block;
	font-size: 1.4rem;
	margin: 2.5rem auto;
	background: #88BBC0;
	padding: 0.5rem;
	color: #fff;
	width: 20rem;
	height: 3rem;
	line-height: 3rem;
	box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #bbb;
}

#orderButton img {
	height: 1.7rem;
}

#orderFlow p {
	font-size: 1.6rem;
}
